<!doctype html>
<!-- can be useful for mobile deice support: -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link href="{{ url_for('static',filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
<html>  
  <head>
  </head>  
  <body> <!-- use this for mobile device support: style="font-size: 1.5vw;"> -->
    <h1 style="font-size: 266%;"><a href="{{ url_for('show_run_rwmc_form') }}">Igloo Web</a></h1>   
    <div class="headerNavigation">
      <a href="{{ url_for('show_results') }}">Fetch Results</a>
      <a href="{{ url_for('show_run_rwmc_form') }}">Submit New Job</a>
      {% if session.get('is_admin') %}
      <a href="{{ url_for('show_admin_page') }}">Admin</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
  </body>
</html>
