<!doctype html>
<!-- can be useful for mobile deice support: -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link href="{{ url_for('static',filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
<html>  
  <head>
  </head>  
  <body> <!-- use this for mobile device support: style="font-size: 1.5vw;"> -->
    <div class="banner">
      <h1 style="font-size: 266%;"><a href="{{ url_for('show_run_rwmc_form') }}">IGLOO Web</a></h1>
    </div>
    <div class="headerNavigation">
      <a href="{{ url_for('show_run_rwmc_form') }}">SUBMIT NEW JOB</a>
      <a href="{{ url_for('show_fetch_results') }}">FETCH RESULTS</a>      
      <a style="font-size: 1.0em;">IGLOO DOCUMENTATION</a>
      <a href="{{ url_for('show_authors') }}" style="font-size: 1.0em;">AUTHORS</a>
      <a href="{{ url_for('show_impressum') }}" style="font-size: 1.0em;">IMPRESSUM</a>
      {% if session.get('is_admin') %}
      <a href="{{ url_for('show_admin_page') }}">ADMIN</a>
      {% endif %}
    </div>
    <hr>
    {% if stats %}
    <div style="float: left; margin: 0 0 10px 10px; width: 100%;">
      <tt>IGLOO Web simulated <b>{{ stats.n_flies_total }}</b> flies for a total of <b>{{ stats.duration_total }}</b> seconds!</tt>
    </div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul style="color: red;">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
  </body>
</html>
