{% extends "base.html" %}

{% block content %}
<div style="float: left; max-width:600px; width: 45%;">
  <h3>Submit New Job</h3>
  <form style="width: 100%;" action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.length.label }}<br/>
      {{ form.length(size=36) }}
      {% for error in form.length.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.start_pos.label }}<br>
      {{ form.start_pos(size=36) }}
      {% for error in form.start_pos.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>    
    <p>
      {{ form.T_min.label }}<br/>
      {{ form.T_min(size=36) }}
      {% for error in form.T_min.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.T_max.label }}<br/>
      {{ form.T_max(size=36) }}
      {% for error in form.T_max.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.T_rear.label }}<br/>
      {{ form.T_rear(size=36) }}
      {% for error in form.T_rear.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.duration.label }}<br/>
      {{ form.duration(size=36) }}
      {% for error in form.duration.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.frames_per_sec.label }}<br/>
      {{ form.frames_per_sec(size=36) }}
      {% for error in form.frames_per_sec.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.simulation_type.label }}<br/>
      {{ form.simulation_type() }}
      {% for error in form.simulation_type.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.n_flies.label }}<br/>
      {{ form.n_flies() }}
      {% for error in form.n_flies.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</div>
<div class="statusPane" style="float: left; max-width:600px; width: 45%;">
  {% if job_digest %}
  <h3>Job Submitted!</h3>
  Your simulations are running.<br/>
  <b>Your job's hash is <span style="font-size: 120%; color: red;">{{ job_digest }}</span>. Please
    write it down, you will need it you fetch your results.</b>
  We do not want to store any contact information.
  <br/><br/>
  Fetch the data (or a status report, if still running) via the
  <a href="{{ url_for('show_fetch_results') }}">results page</a>.
  {% endif %}
</div>
{% endblock %}
