body {
    background: #FFFFFF;
    color: #333333;
}

tr:nth-child(even) {
    background: #ffffff;
    color: #202020;
}

tr:nth-child(odd) {
    background: #a0a0a0;
    color: #202020;
}

a {
    color: #4488cc;
    //color: #ffffff;
}

th, td {
    padding: 5px;
}

.headerNavigation a {
    font-size: 1.4em;
    padding: 2px 0px 2px 10px;
}

label, select, input{
    font-size: 1.25em;
}

.statusPane {
    margin: 0 0 0 50px;
}

.success {
    color: #44aa44;
}

.failure {
    color: #ff5555;
}
